<p>filter works!</p>
<form [formGroup]="filterForm">
  <div>
    <mat-card class="firstmatcard" *ngIf="allCars">
      <div class="firstdiv">
        <mat-label>Brand</mat-label>
        <mat-form-field>
          <mat-select
            formControlName="brand"
            (selectionChange)="onBrandSelect()"
          >
            <mat-option *ngFor="let item of carData" [value]="item.brand"
              >{{ item.brand }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>Model</mat-label>
        <mat-form-field>
          <mat-select formControlName="model">
            <mat-option *ngFor="let item of data" [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>MakeYear</mat-label>
        <mat-form-field>
          <mat-select formControlName="makeYear">
            <mat-option *ngFor="let item of allCars[0].makeYear" [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>Variant</mat-label>
        <mat-form-field>
          <mat-select formControlName="variant">
            <mat-option *ngFor="let item of allCars[0].variants" [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>kmDriven</mat-label>
        <mat-form-field>
          <mat-select formControlName="kmDriven">
            <mat-option *ngFor="let item of allCars[0].kmDriven" [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="firstdiv">
        <mat-label>Features</mat-label>
        <mat-form-field>
          <mat-select formControlName="features" multiple="true">
            <mat-option *ngFor="let item of allCars[0].features" [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>Transmission</mat-label>
        <mat-form-field>
          <mat-select formControlName="transmission">
            <mat-option
              *ngFor="let item of allCars[0].transmissions"
              [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>BodyType</mat-label>
        <mat-form-field>
          <mat-select formControlName="bodyType">
            <mat-option *ngFor="let item of allCars[0].bodyTypes" [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>Color</mat-label>
        <mat-form-field>
          <mat-select formControlName="color">
            <mat-option *ngFor="let item of allCars[0].colors" [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>Seats</mat-label>
        <mat-form-field>
          <mat-select formControlName="seats">
            <mat-option *ngFor="let item of allCars[0].seats" [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="firstdiv">
        <mat-label>Owner</mat-label>
        <mat-form-field>
          <mat-select formControlName="owner">
            <mat-option *ngFor="let item of allCars[0].owners" [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>State</mat-label>
        <mat-form-field>
          <mat-select
            formControlName="state"
            (selectionChange)="onStateSelect()"
          >
            <mat-option *ngFor="let item of states" [value]="item.state"
              >{{ item.state }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>StateCode</mat-label>
        <mat-form-field>
          <mat-select formControlName="stateCode">
            <mat-option *ngFor="let item of codedata" [value]="item">
              {{ item }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-label>City</mat-label>
        <mat-form-field>
          <mat-select formControlName="city">
            <mat-option *ngFor="let item of city" [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-label>Price</mat-label>
        <mat-form-field>
          <input matInput type="text" formControlName="price" />
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        color="primary"
        (click)="filter()"
        class="filter"
      >
        FilterData
      </button>
    </mat-card>
  </div>
</form>
